/* ==========================================================================
   #BANNER
   ========================================================================== */

.banner {
  @include section;
  color: $color-white;
  padding-top: 140px;
  @include max-992 {
    padding-top: 110px;
  }
  @include max-576 {
    padding-top: 90px;
  }
  &:before {
    @include before-common;
    width: 100%;
    height: 100%;
    background-color: $color-secoundblack;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 65%);
    z-index: -2;
    @include max-992 {
      clip-path: polygon(0 0, 100% 0, 100% 90%, 0 75%);
    }
  }
  &:after {
    @include after-common;
    width: 500px;
    height: 500px;
    background: url('../assets/images/banner-asset.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    z-index: -2;
    @include max-992 {
      width: 300px;
      height: 300px;
    }
    @include max-576 {
      width: 180px;
      height: 180px;
    }
  }
  .container {
    position: relative;
    &:before {
      @include absolute-common;
      left: -7%;
      top: 0;
      width: 20px;
      height: 20px;
      background: url('../assets/images/blue-circle.png');
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      z-index: -1;
    }
    &:after {
      @include absolute-common;
      left: 0;
      bottom: 0;
      width: 20px;
      height: 20px;
      background: url('../assets/images/blue-circle.png');
      background-size: contain;
      background-repeat: no-repeat;
      background-position: right;
      z-index: -1;
    }
  }
  .banner-title {
    max-width: 820px;
    margin: 0 auto 50px;
    @include max-992 {
      margin: 0 auto 30px;
    }
  }
  .banner-form {
    position: relative;
    &:before {
      @include absolute-common;
      @include h-center;
      bottom: -45px;
      height: 40px;
      width: 40px;
      background: url('../assets/images/triangle.png');
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      @include max-576 {
        bottom: -20px;
      }
    }
    &:after {
      @include absolute-common;
      left: 7%;
      bottom: -100px;
      width: 30px;
      height: 30px;
      background: url('../assets/images/pink-circle.png');
      background-size: contain;
      background-repeat: no-repeat;
      background-position: right;
      z-index: -1;
    }
    form {
      @include flex;
      @include justify-content(space-between);
      padding: 20px 0;
      @include max-992 {
        display: block;
      }
    }
    .form-field {
      width: 100%;
      max-width: 20%;
      display: inline-block;
      padding: 0 5px;
      @include max-992 {
        max-width: 47%;
        padding: 5px;
      }
      @include max-576 {
        max-width: 100%;
        padding: 5px 0;
      }
    }
    input {
      width: 100%;
      height: 60px;
      padding: 5px 10px;
      @include border-radius(5px);
      outline: none;
      box-shadow: none;
      border: 0;
      font-family: $global-fonts;
      font-size: 14px;
      font-weight: 300;
      @include max-992 {
        height: 40px;
      }
    }
  }
  .banner-image {
    padding-top: 30px;
    position: relative;
    display: inline-block;
    margin-top: 50px;
    @include max-576 {
      padding-top: 10px;
      margin-top: 20px;
    }
    &:before {
      @include absolute-common;
      bottom: 12%;
      left: 0;
      width: 250px;
      height: 130px;
      background: url('../assets/images/dot.png');
      background-size: cover;
      background-position: left bottom;
      z-index: -1;
      animation: slide 7s linear infinite;
      animation: slide 7s linear;
      animation: slide 7s linear infinite;
      @include max-992 {
        width: 200px;
        height: 100px;
      }
      @include max-576 {
        width: 160px;
        height: 80px;
      }
    }
    &:after {
      @include absolute-common;
      top: 0px;
      right: 6%;
      width: 130px;
      height: 250px;
      background: url('../assets/images/dot-1.png');
      background-size: cover;
      background-position: right;
      z-index: -1;
      animation: slide 7s linear infinite;
      animation: slide 7s linear;
      animation: slide 7s linear infinite;
      @include max-992 {
        width: 100px;
        height: 200px;
      }
      @include max-576 {
        width: 80px;
        height: 160px;
      }
    }
  }
}
