/* ==========================================================================
   #BUTTONS
   ========================================================================== */

@mixin c-btn {
  position: relative;
  vertical-align: middle;
  text-align: center;
  margin: 0;
  cursor: pointer;
  padding: 17px 30px;
  transition: $global-transition;
  border-radius: $global-radius;
  z-index: 1;
  font-size: $font-size-lg;
  font-family: $global-fonts;
  font-weight: 400;
}

.btn-pink {
  @include c-btn;
  background: $color-pink;
  transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  span {
    color: $color-white;
    display: inline-block;
    text-transform: uppercase;
    position: relative;
    z-index: 1;
  }
  &::before,
  &::after {
    content: '';
    background: $color-secoundblack;
    height: 51%;
    width: 0;
    border-radius: $global-radius;
    position: absolute;
    transition: 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    transition: 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  }
  &::before {
    top: 0;
    left: 0;
    right: auto;
  }
  &::after {
    bottom: 0;
    right: 0;
    left: auto;
  }
  &:hover {
    &::before {
      width: 100%;
      right: 0;
      left: auto;
    }
    &::after {
      width: 100%;
      left: 0;
      right: auto;
    }
    span {
      color: $color-pink;
    }
  }
}
