/* ==========================================================================
   #FOOTER
   ========================================================================== */

.footer {
  @include section;
  color: #bdbdbd;
  .footer-top {
    background-color: $color-secoundblack;
    padding: 40px 0 30px;
    @include max-576 {
      padding: 20px 0;
    }
  }
  .footer-logo {
    display: grid;
    grid-template-columns: 40% 40%;
    @include max-992 {
      display: block;
      margin-bottom: 0;
    }
    @include align-items(flex-end);
    margin-bottom: 20px;
    h5 {
      color: $color-white;
      font-size: 24px;
      font-weight: 600;
      @include max-992 {
        margin-top: 20px;
        font-size: 20px;
      }
    }
    span {
      color: $color-pink;
      font-size: 24px;
      @include max-992 {
        font-size: 20px;
      }
    }
  }
  .footer-bottom {
    background-color: $color-thirdblack;
    padding: 5px;
    .container {
      @include flex;
      @include justify-content(space-between);
      @include align-items(center);
      @include max-992 {
        display: block;
      }
    }
  }
  .copyright {
    @include max-992 {
      text-align: center;
    }
  }
  .copyright a {
    color: $color-pink;
    &:hover {
      color: $color-white;
    }
  }
  ul {
    @include flex;
    @include align-items(center);
    @include max-992 {
      @include justify-content(center);
      padding-bottom: 10px;
      padding-left: 0;
    }
    li {
      margin: 0 15px;
      @include max-576 {
        margin: 0 10px;
      }
    }
  }
  p,
  li a,
  span {
    color: #bdbdbd;
    font-size: $font-size-tb;
  }
  a {
    &:hover {
      color: $color-pink;
    }
  }
}

.footer-nav {
  li:first-child {
    position: relative;
    &:before {
      @include absolute-common;
      right: -15px;
      bottom: 0;
      width: 1px;
      height: 100%;
      background-color: #bdbdbd;
      @include max-576 {
        right: -10px;
      }
    }
  }
}

.footer-form {
  position: relative;
  form {
    @include flex;
    @include justify-content(space-between);
    padding: 20px 0;
    @include max-992 {
      display: block;
    }
  }
  .form-field {
    width: 100%;
    max-width: 20%;
    display: inline-block;
    padding: 0 5px;
    @include max-992 {
      max-width: 47%;
      padding: 5px;
    }
    @include max-576 {
      max-width: 100%;
      padding: 5px 0;
    }
  }
  input {
    width: 100%;
    height: 60px;
    padding: 5px 10px;
    @include border-radius(5px);
    outline: none;
    box-shadow: none;
    border: 0;
    font-family: $global-fonts;
    font-size: 14px;
    font-weight: 300;
    @include max-992 {
      height: 40px;
    }
  }
}
