/* ==========================================================================
   #HEADER
   ========================================================================== */

.header {
  position: absolute;
  width: 100%;
  padding: 20px 15px 10px;
  z-index: 9;
}
