{% block content %}
<section class="general-container">
   <div class="container text-center">
      <div class="title">
         <h6>{{ data.small_heading_ab }}</h6>
         <h2>{{ data.main_heading_ab }}</h2> </div>
      <div class="content">
         {{ data.content_ab }}
         <div class="btn-custom"> <a href="{{ data.button_link_ab }}" class="btn-pink"><span>{{ data.button_title_ab }}</span></a> </div>
      </div>
   </div>
</section>
{% endblock %}
