{% block content %}
  <section class="banner">
   <div class="container text-center">
      <div class="banner-title">
         <h1><span>{{ data.banner_title }}</span> {{ data.banner_sub_title }}</h1>
         <p>{{ data.banner_tagline }}</p>
      </div>
      <div class="banner-form text-left">
         <h4>{{ data.banner_form_heading }} <span>{{ data.banner_form_heading }}</span></h4>
         {{ data.banner_form|shortcodes }}
      </div>
      <div class="banner-image">
         <img src="{{ data.banner_image }}">
      </div>
   </div>
</section>
{% endblock %}
