{% block content %}
<section class="grey-background">
    <div class="container text-center">
        <div class="content">
            <div class="title">
                <h4><span>{{ data.small_heading_call }}</span> {{ data.sub_heading_normal }}</h4>
                <h2>{{ data.main_heading_call }}</h2>
            </div>
            <p>{{ data.content_call }}</p>
        </div>
    </div>
</section>
{% endblock %}
