{% block content %}
<section class="content-image">
   <div class="container">
      {% for item in data.service_section_rep %}
      {% set i = item.please_select_option %}
      {% set j = item.add_class_ser_rep %}
      {% if i == 'right' %}
         <div class="row l-content {% if j == 'pt-5' %} pt-5 {% else %} {% endif %}">
           <div class="w-50 order-md-2">
              <div class="content">
                 <div class="title">
                    <h2>{{ item.title_ser_rep }}</h2>
                 </div>
                 <p>{{ item.content_ser_rep }}</p>
                 <div class="btn-custom">
                    <a href="{{ item.button_link_ser_rep }}" class="btn-pink"><span>{{ item.button_title_ser_rep }}</span></a>
                 </div>
              </div>
           </div>
           <div class="w-50 order-md-1">
              <div class="image" data-aos="fade-up">
                 <img src="{{ item.image_ser_rep }}" class="img-fluid">
              </div>
              <div class="image-box">
                 <div class="box-number">
                    <h5>912</h5>
                    <span>sent</span>
                    <div class="pink-line"></div>
                 </div>
                 <div class="box-number">
                    <h5>100%</h5>
                    <span>opened</span>
                    <div class="black-line"></div>
                 </div>
                 <div class="box-number">
                    <h5>60%</h5>
                    <span>clicked</span>
                    <div class="black-line"></div>
                 </div>
                 <div class="box-number">
                    <h5>80%</h5>
                    <span>goal</span>
                    <div class="pink-line"></div>
                 </div>
              </div>
           </div>
         </div>
      {% elseif i == 'left' %}
        <div class="row r-content">
           <div class="w-50">
               <div class="image" data-aos="fade-up">
                   <img src="{{ item.image_ser_rep }}" class="img-fluid">
               </div>
           </div>
           <div class="w-50">
               <div class="content">
                   <div class="title">
                       <h2>{{ item.title_ser_rep }}</h2>
                   </div>
                   {{ item.content_ser_rep }}
                   <div class="btn-custom">
                       <a href="{{ item.button_link_ser_rep }}" class="btn-pink"><span>{{ item.button_title_ser_rep }}</span></a>
                   </div>
               </div>
           </div>
       </div>
      {% endif %}
      {% endfor %}
   </div>
</section>
{% endblock %}
