{% block content %}
<section class="content-image">
   <div class="container">
      {% for item in data.service_section_rep %}
      {% set i = item.please_select_option_ser_rep %}
      {% set j = loop.index %}
      {% if i == 'left' %}
         <div class="row l-content {% if j == '1' %}pt-5{% endif %}">
           <div class="w-50 order-md-2">
              <div class="content">
                 <div class="title">
                    <h2>{{ item.title_ser_rep }}</h2>
                 </div>
                 <p>{{ item.content_ser_rep }}</p>
                 <div class="btn-custom">
                    <a href="{{ item.button_link_ser_rep }}" class="btn-pink"><span>{{ item.button_title_ser_rep }}</span></a>
                 </div>
              </div>
           </div>
           <div class="w-50 order-md-1">
              <div class="image" data-aos="fade-up">
                 <img src="{{ item.image_ser_rep }}" class="img-fluid">
              </div>
               {% set k = item.counter_box %}
               {% if k != '' %}
                 <div class="image-box">
                  {% for countitem in item.counter_box %}
                    <div class="box-number">
                       <h5>{{ countitem.counter_number_ser_rep }}</h5>
                       <span>{{ countitem.counter_title_ser_rep }}</span>
                       <div class="{{ countitem.counter_line_class_ser_rep }}"></div>
                    </div>
                  {% endfor %}
                 </div>
               {% endif %}
           </div>
         </div>
      {% elseif i == 'right' %}
        <div class="row r-content">
           <div class="w-50">
               <div class="image" data-aos="fade-up">
                   <img src="{{ item.image_ser_rep }}" class="img-fluid">
               </div>
           </div>
           <div class="w-50">
               <div class="content">
                   <div class="title">
                       <h2>{{ item.title_ser_rep }}</h2>
                   </div>
                   <p>{{ item.content_ser_rep }}</p>
                   <div class="btn-custom">
                       <a href="{{ item.button_link_ser_rep }}" class="btn-pink"><span>{{ item.button_title_ser_rep }}</span></a>
                   </div>
               </div>
           </div>
       </div>
      {% endif %}
      {% endfor %}
   </div>
</section>
{% endblock %}
