/* ==========================================================================
   #ALIGN
   ========================================================================== */

.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}

.text-lg-center {
  @include max-992 {
    text-align: center;
  }
}
.text-md-center {
  @include max-767 {
    text-align: center;
  }
}
.text-sm-center {
  @include max-576 {
    text-align: center;
  }
}

.text-lg-left {
  @include max-992 {
    text-align: left;
  }
}
.text-md-left {
  @include max-767 {
    text-align: left;
  }
}
.text-sm-left {
  @include max-576 {
    text-align: left;
  }
}
.text-lg-right {
  @include max-992 {
    text-align: right;
  }
}
.text-md-right {
  @include max-767 {
    text-align: right;
  }
}
.text-sm-right {
  @include max-576 {
    text-align: right;
  }
}
