<footer class="footer">
  <div class="footer-top">
    <div class="container">
      <div class="footer-logo">
        <a href="{{ site.url }}"><img src="{{ options.footer_logo }}" class="img-fluid"></a>
        <h5>{{ options.footer_tagline }}</h5> </div>
      <div class="footer-form text-left">
        {{ options.footer_form|shortcodes }} <span>{{ options.footer_note }}</span> 
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="container">
      <div class="copyright">
        <p>{{ options.copyright_text }}</p>
      </div>
      <div class="footer-nav">
        <ul>
          {{ options.footer_menu }}
        </ul>
      </div>
    </div>
  </div>
</footer>