<header class="header">
  <div class="container">
    <nav class="navbar navbar-expand-lg">
      <a class="navbar-brand" href="{{ site.url }}"><img src="{{ options.site_logo }}" alt="Logo"></a>
    </nav>
  </div>
</header>