{# -- REMOVE --
{% if main_nav %}
  <nav class="o-wrapper">
    <ul class="c-main-nav">
      {% for item in main_nav.items %}
        <li class="{{item.classes | join(' ')}} c-main-nav__item">
          <a href="{{item.link}}" class="c-main-nav__link">{{item.title}}</a>
          {% if item.children %}
            <ul class="c-main-nav__dropdown">
              {% for subitem in item.children %}
                <li class="{{subitem.classes | join(' ')}} c-main-nav__subitem">
                  <a href="{{subitem.link}}" class="c-main-nav__sublink">{{subitem.title}}</a>
                </li>
              {% endfor %}
            </ul>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  </nav>
{% endif %}
-- REMOVE -- #}