/* ==========================================================================
   #HEADINGS
   ========================================================================== */

/**
 * Simple default styles for headings 1 through 6. Anything more opinionated
 * than simple font-size changes should likely be applied via classes (see:
 * http://csswizardry.com/2016/02/managing-typography-on-large-apps/).
 */

// Fonts

$font-size-sm2: 10px;
$font-size-sm: 12px;
$font-size-base: 14px;
$font-size-lg: 16px;
$font-size-xl: 18px;

$h1-font-size: 80px;
$h2-font-size: 50px;
$h3-font-size: 35px;
$h4-font-size: 20px;
$h5-font-size: 19px;
$h6-font-size: 16px;

$b-radius: 20px;

h1,
h2,
h3,
h5,
h6,
h4 {
  font-family: $global-fonts;
  margin: 0px;
}

h1 {
  font-size: $h1-font-size;
  line-height: 75px;
  margin-bottom: 35px;
  font-weight: 600;
  position: relative;
  display: inline-block;
  @include max-1500 {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 20px;
  }
  @include max-1200 {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 20px;
  }
  @include max-992 {
    font-size: 60px;
    margin-bottom: 20px;
    line-height: 60px;
  }
  @include max-576 {
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 0;
  }
  @include max-420 {
    font-size: 33px;
    line-height: 35px;
  }
  span {
    font-weight: 300;
  }
  &:after {
    content: '';
    background-color: $color-pink;
    position: absolute;
    right: 0;
    bottom: -3px;
    height: 47%;
    width: 70%;
    clip-path: polygon(6% 0, 100% 0, 95% 100%, 0 100%);
    z-index: -1;
  }
}

h2 {
  font-size: $h2-font-size;
  line-height: 60px;
  color: $color-font;
  font-weight: bold;
  @include max-1500 {
    font-size: 40px;
    line-height: 50px;
  }
  @include max-1200 {
    font-size: 40px;
    line-height: 50px;
  }
  @include max-992 {
    font-size: 35px;
    line-height: 45px;
  }
  @include max-576 {
    font-size: 25px;
    line-height: 32px;
  }
}

h3 {
  font-size: $h3-font-size;
  line-height: 40px;
}

h4 {
  font-size: $h4-font-size;
  line-height: 25px;
  font-weight: 400;
  span {
    color: $color-pink;
  }
}

h5 {
  font-size: $h5-font-size;
  line-height: 24px;
}

h6 {
  font-size: $h6-font-size;
  line-height: 20px;
  font-weight: bold;
  color: $color-pink;
  padding-bottom: 20px;
  text-transform: uppercase;
  @include max-992 {
    padding-bottom: 10px;
  }
}
