/* ==========================================================================
   #PAGE
   ========================================================================== */

* {
  box-sizing: border-box;
  box-sizing: border-box;
  box-sizing: border-box;
}

html body {
  color: $color-font1;
  padding: 0px;
  margin: 0px;
  line-height: 1.2;
  font-family: $global-fonts;
  font-size: $font-size-lg;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 0;
  position: relative;
  overflow-x: hidden;
  scroll-behavior: smooth;
  @include max-992 {
    font-size: $font-size-tb;
  }
}
