/* ==========================================================================
   #IMAGES
   ========================================================================== */

img {
  font-style: italic; /* [2] */
  max-width: 100%; /* [1] */
  vertical-align: middle; /* [3] */
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

img[width],
img[height] {
  max-width: none;
}
