/* ==========================================================================
   #LINKS
   ========================================================================== */

a {
  text-decoration: none !important;
  transition: 0.3s linear;
  &:hover {
    transition: 0.3s linear;
    color: $color-pink;
  }
}
