/* ==========================================================================
   #LISTS
   ========================================================================== */

ul {
  margin: 0 !important;
  list-style: none;
}
.global-list {
  ul {
    li {
      position: relative;
      margin: 0 0 15px 20px;
      &:before {
        content: '';
        position: absolute;
        top: 10px;
        left: -20px;
        width: 10px;
        height: 10px;
        border-radius: 100px;
      }
    }
  }
  ol {
    margin: 0 0 0 15px;
    li {
      margin: 10px 0 0 0;
    }
  }
}
