/* ==========================================================================
   #LAYOUT
   ========================================================================== */

section.general-container {
  @include section;
  padding: 40px 0 80px;
  &:before {
    @include absolute-common;
    left: 0;
    top: 70%;
    width: 500px;
    height: 500px;
    background: url('../assets/images/left-asset.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left;
    z-index: -1;
    @include max-1200 {
      width: 350px;
      height: 350px;
    }
    @include max-767 {
      top: 90%;
      width: 200px;
      height: 200px;
    }
  }
  &:after {
    @include absolute-common;
    right: 10%;
    bottom: 5%;
    width: 30px;
    height: 30px;
    background: url('../assets/images/pink-circle.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    opacity: 0.5;
    z-index: -1;
  }
}

section.content-image {
  @include section;
  padding: 80px 0;
  /*background-color: $color-thirdwhite;*/
  /*clip-path: polygon(0 7%, 100% 0, 100% 100%, 0% 100%);
	@include max-992 {
		clip-path: polygon(0 3%, 100% 0, 100% 100%, 0% 100%);
	}*/
  &:before {
    content: '';
    height: 100%;
    width: 100%;
    background-color: $color-thirdwhite;
    clip-path: polygon(0 7%, 100% 0, 100% 100%, 0% 100%);
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    @include max-992 {
      clip-path: polygon(0 3%, 100% 0, 100% 100%, 0% 100%);
    }
  }
  .row {
    padding: 10px 0;
    @include flex;
    @include align-items(center);
    @include max-992 {
      flex-flow: column;
      padding: 30px 0;
    }
  }
  .image {
    text-align: center;
    img {
      animation: 3s infinite updonanim;
      animation: 3s infinite updonanim;
      animation: 3s infinite updonanim;
      animation: 3s infinite updonanim;
    }
  }
  .image-box {
    padding: 10px;
    background: $color-white;
    display: inline-block;
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 0px;
    width: 250px;
    height: 250px;
    border-radius: 10px;
    position: relative;
    margin: auto;
    top: -70px;
    @include max-992 {
      top: -40px;
    }
    &:before {
      @include absolute-common;
      @include center;
      background-color: #262932;
      height: 90%;
      width: 1px;
      opacity: 0.5;
    }
    &:after {
      @include absolute-common;
      @include center;
      background-color: #262932;
      height: 0.5px;
      width: 90%;
      opacity: 0.3;
    }
    .box-number {
      padding: 0 23px;
      @include flex;
      flex-flow: column;
      @include justify-content(center);
      text-align: left;
    }
    h5 {
      font-size: 25px;
      line-height: 30px;
    }
    span {
      font-size: 14px;
      line-height: 24px;
      text-transform: uppercase;
    }
    .pink-line {
      height: 2px;
      background: #e8ebff;
      width: 100%;
      top: 10px;
      position: relative;
      &:before {
        @include before-common;
        background-color: $color-pink;
        height: 2px;
        width: 60%;
      }
    }
    .black-line {
      height: 2px;
      background: #e8ebff;
      width: 100%;
      top: 10px;
      position: relative;
      &:before {
        @include before-common;
        background-color: $color-black;
        height: 2px;
        width: 60%;
      }
    }
  }
}

section.grey-background {
  @include section;
  padding: 80px 0;
  background-color: $color-fifthwhite;
  overflow: hidden;
  @include max-992 {
    padding: 40px 0;
  }
  &:before {
    @include before-common;
    height: 100%;
    width: 460px;
    background-image: url('../assets/images/shape.png');
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
  }
  .content {
    max-width: 900px;
    margin: auto;
    position: relative;
  }
  h2 {
    font-weight: 600;
  }
  h4 {
    font-weight: bold;
    color: $color-pink;
    padding-bottom: 20px;
    span {
      color: $color-font;
    }
    @include max-992 {
      padding-bottom: 0px;
    }
  }
}

section.search-form-section111 {
  @include section;
  padding: 50px 0px 20px;
  background-color: $color-fifthwhite;
  overflow: hidden;
  text-align: center;
  input {
    height: 40px;
    padding: 0 15px;
  }
  .submit {
    height: 40px;
    border: 0 !important;
  }
}

section.press-release {
  @include section;
  padding: 70px 0;
  overflow: hidden;
  text-align: center;
  .pr-block {
    text-align: left;
    background: $color-fifthwhite;
    border-radius: 10px;
    padding: 20px;
    display: inline-block;
    width: 47%;
    margin: 0 1%;
    @include max-576 {
      width: 100%;
      margin: 0;
    }
    .img {
      height: 320px;
      @include flex;
      @include align-items(center);
      @include justify-content(center);
      @include max-576 {
        height: auto;
        margin-bottom: 25px;
      }
    }
    img {
      max-height: 300px;
      max-width: 300px;
      width: 100%;
    }
  }
  a {
    color: $color-black;
    &:hover {
      color: $color-pink;
    }
  }
  .read-more {
    color: $color-pink;
  }
  h2 {
    line-height: 30px;
    margin-bottom: 10px;
    a {
      font-weight: 600;
      font-size: 30px;
      @include max-992 {
        font-size: 22px;
      }
    }
  }
}

.tool-pagination {
  margin: 40px 0;
  ul {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 !important;
  }
  li {
    height: 35px;
    width: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid $color-pink;
    margin: 0 5px;
    &:hover {
      background-color: $color-pink;
    }
  }
  a {
    color: $color-pink;
    &:hover {
      color: $color-white;
    }
  }
}

.single-post .c-post {
  @include section;
  padding: 70px 0;
  overflow: hidden;
  a {
    color: $color-pink;
    &:hover {
      opacity: 0.7;
    }
  }
}
.single-post section.breadcrumb {
  &:before {
    background: rgba(0, 0, 0, 0.7);
  }
}

section.single-blogpost {
  @include section;
  padding: 70px 0;
  overflow: hidden;
  .image {
    margin: 0px 50px 40px 40px;
    float: left;
    @include max-767 {
      margin: 0px 15px 40px;
      float: none;
      text-align: center;
    }
    img {
      box-shadow: 20px 20px 0px 0px $color-pink;
      box-shadow: 20px 20px 0px 0px $color-pink;
      box-shadow: 20px 20px 0px 0px $color-pink;
      min-height: 300px;
      object-fit: cover;
      max-width: 320px;
      width: 100%;
      @include max-767 {
        min-height: 250px;
      }
    }
  }
  h4 {
    color: $color-pink;
    font-size: 27px;
    text-transform: uppercase;
  }
  .meta {
    font-weight: bold;
    color: #777;
  }
  .inner-content-sub {
    padding-top: 20px;
  }
}
