{% extends "layouts/base.twig" %}

{% block content %}

  {% if acf_data is defined %}
    {% for sec_loop in acf_data %}

      {% if sec_loop.acf_fc_layout == 'banner_section' %}
        {{ include('sections/banner-section.twig', {data: sec_loop}) }}

      {% elseif sec_loop.acf_fc_layout == 'about_section' %}
        {{ include('sections/about-section.twig', {data: sec_loop}) }}

      {% elseif sec_loop.acf_fc_layout == 'service_section' %}
        {{ include('sections/service-section.twig', {data: sec_loop}) }}

      {% elseif sec_loop.acf_fc_layout == 'call_to_action' %}
        {{ include('sections/call-to-action.twig', {data: sec_loop}) }}

      {% endif %}

    {% endfor %}
  {% endif %}
  
  
  {# -- REMOVE --
  <article id="post-{{post.ID}}">
    <section>
      <h1>{{post.title}}</h1>
      {{post.content}}
    </section>
  </article>
  -- REMOVE -- #}
{% endblock %}