/* ==========================================================================
   #GLOBAL
   ========================================================================== */

$global-radius: 3px !default;
$global-transition: all 0ms ease-in-out;

/* Fonts
   ========================================================================== */

$font-sans-serif: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI',
  'Roboto', 'Helvetica Neue', 'Arial', sans-serif !default;

/* Colors
   ========================================================================== */

// Colors shouldn't be used directly but reassigned
$color-white: #fff;
$color-black: #000;
$color-pink: #e03f6f;
$color-secoundblack: #1b1d24;
$color-thirdblack: #272a32;
$color-secoundwhite: #fdfdfd;
$color-thirdwhite: #f9f9f9;
$color-forthwhite: #eae8e8;
$color-fifthwhite: #f3f3f3;
$color-font: #191919;
$color-font1: #4b4b4b;

// Text
$color-bg: $color-white;
$color-text: $color-black;

// Container definitions
$container-width: 1400px !default;

// Fonts
$global-fonts: 'Poppins';

// Font Size
$font-size-sm: 13px;
$font-size-md: 15px;
$font-size-tb: 16px;
$font-size-lg: 18px;

// Aniamtion
/*@-webkit-keyframes stickySlideDown {
  0% {
    opacity: 0.7;
    -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
        transform: translateY(0);
  }
}
  
@keyframes stickySlideDown {
  0% {
    opacity: 0.7;
    -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
        transform: translateY(0);
  }
}*/

@keyframes moveclouds {
  0% {
    margin-left: 50px;
  }
  100% {
    margin-left: -50px;
  }
}
@-webkit-keyframes moveclouds {
  0% {
    margin-left: 50px;
  }
  100% {
    margin-left: -50px;
  }
}
@-moz-keyframes moveclouds {
  0% {
    margin-left: 50px;
  }
  100% {
    margin-left: -50px;
  }
}
@-o-keyframes moveclouds {
  0% {
    margin-left: 50px;
  }
  100% {
    margin-left: -50px;
  }
}

@keyframes updonanim {
  0%,
  100% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(0px, 10px);
  }
}

@-webkit-keyframes updonanim {
  0%,
  100% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(0px, 10px);
  }
}

@-moz-keyframes updonanim {
  0%,
  100% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(0px, 10px);
  }
}

@-o-keyframes updonanim {
  0%,
  100% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(0px, 10px);
  }
}

@keyframes slide {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 250px 0;
  }
}
​



/** margin and paddings **/
.p-0 {
  padding: 0 !important;
}
.pr-0 {
  padding-right: 0 !important;
}
.pl-0 {
  padding-left: 0 !important;
}
.pt-0 {
  padding-top: 0 !important;
}
.pb-0 {
  padding-bottom: 0 !important;
}
.pr-5 {
  padding-right: 30px !important;
}
.pl-5 {
  padding-left: 30px !important;
}
.pt-5 {
  padding-top: 30px !important;
}
.pb-5 {
  padding-bottom: 30px !important;
}

.m-0 {
  margin: 0 !important;
}
.mr-0 {
  padding-right: 0 !important;
}
.ml-0 {
  padding-left: 0 !important;
}
.mt-0 {
  padding-top: 0 !important;
}
.mb-0 {
  padding-bottom: 0 !important;
}
.mr-5 {
  margin-right: 30px !important;
}
.ml-5 {
  margin-left: 30px !important;
}
.mt-5 {
  margin-top: 30px !important;
}
.mb-5 {
  margin-bottom: 30px !important;
}

@mixin min-1500 {
  @media screen and (min-width: 1500px) {
    @content;
  }
}
@mixin max-1500 {
  @media screen and (max-width: 1500px) {
    @content;
  }
}
@mixin min-1200 {
  @media screen and (min-width: 1200px) {
    @content;
  }
}
@mixin max-1200 {
  @media screen and (max-width: 1200px) {
    @content;
  }
}
@mixin min-992 {
  @media screen and (min-width: 992px) {
    @content;
  }
}
@mixin max-992 {
  @media screen and (max-width: 992px) {
    @content;
  }
}
@mixin max-767 {
  @media screen and (max-width: 767px) {
    @content;
  }
}
@mixin max-576 {
  @media screen and (max-width: 576px) {
    @content;
  }
}
@mixin max-420 {
  @media screen and (max-width: 420px) {
    @content;
  }
}

.container {
  max-width: $container-width;
  margin: 0 auto;
  @include max-1500 {
    padding: 0 40px;
  }
  @include max-992 {
    padding: 0 20px;
  }
  @include max-767 {
    padding: 0 20px;
  }
  @include max-576 {
    padding: 0 20px;
  }
}

.container-fluid {
  width: 80%;
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px;
  @include max-767 {
    width: 100%;
  }
  @include max-576 {
    width: 100%;
  }
}

.w-100 {
  width: 100% !important;
}

.h-100 {
  height: 100%;
}

.w-40 {
  width: 40%;
  @include max-576 {
    width: 100%;
  }
}

.w-50 {
  width: 46% !important;
  margin: 0 2%;
  @include max-992 {
    width: 100% !important;
    margin: 0;
  }
  @include max-767 {
    width: 100% !important;
    margin: 0;
  }
  @include max-576 {
    width: 100% !important;
    margin: 0;
  }
}

.w-60 {
  width: 60%;
  @include max-992 {
    width: 100%;
  }
  @include max-767 {
    width: 100%;
  }
  @include max-576 {
    width: 100%;
  }
}

.custom-row {
  display: flex;
  @include max-992 {
    display: inherit !important;
  }
  @include max-767 {
    display: inherit !important;
  }
  @include max-576 {
    display: inherit !important;
  }
}

.order-md-1 {
  @include max-992 {
    order: 1;
  }
}
.order-md-2 {
  @include max-992 {
    order: 2;
  }
}
.order-md-3 {
  @include max-992 {
    order: 3;
  }
}

.align-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.text-center {
  text-align: center;
}

p {
  line-height: 1.5;
}

.content {
  p {
    margin: 15px 0 0 0;
    color: $color-font1;
    line-height: 30px;
    font-size: $font-size-lg;
    font-weight: 300;
    @include max-992 {
      font-size: $font-size-tb;
    }
  }
  .btn-custom {
    margin-top: 50px;
    display: inline-block;
  }
}

.wpcf7 {
  input,
  select,
  textarea {
    width: 100%;
    padding: 20px;
    background: #fbfcfd;
    border-radius: 4px;
    outline: none;
    box-shadow: none;
    color: #9da6ad;
    font-size: 14px;
    border: 2px solid #eef0f2;
    font-family: $global-fonts;
    letter-spacing: 0;
  }

  textarea {
    height: 150px;
  }

  .ajax-loader {
    position: absolute !important;
    right: 0;
  }
}

.submit {
  background-color: $color-pink !important;
  color: $color-white !important;
  text-transform: uppercase;
  vertical-align: middle;
  text-align: center;
  margin: 0;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  font-size: 16px !important;
  font-family: Poppins !important;
  font-weight: 400 !important;
  &:hover {
    background-color: $color-white !important;
    color: $color-pink !important;
  }
}
