// mixin classes
@mixin section {
  position: relative;
  width: 100%;
}
@mixin bg-cover-common {
  background-repeat: no-repeat;
  background-size: cover;
}
@mixin flex {
  display: flex;
  display: box;
  display: -moz-flex;
  display: box;
  display: flexbox;
  display: flex;
}
@mixin justify-content($value) {
  justify-content: ($value);
  justify-content: ($value);
  justify-content: ($value);
  justify-content: ($value);
  justify-content: ($value);
}
@mixin align-items($value) {
  align-items: ($value);
  align-items: ($value);
  align-items: ($value);
  align-items: ($value);
  align-items: ($value);
}
@mixin flex-direction($value) {
  flex-direction: ($value);
  flex-direction: ($value);
  flex-direction: ($value);
  flex-direction: ($value);
  flex-direction: ($value);
}
@mixin flex-wrap($value) {
  flex-wrap: ($value);
  flex-wrap: ($value);
  flex-wrap: ($value);
  flex-wrap: ($value);
  flex-wrap: ($value);
}
@mixin flex-grow($value) {
  flex-grow: ($value);
  flex-grow: ($value);
  flex-grow: ($value);
  flex-grow: ($value);
  flex-grow: ($value);
}
@mixin flex-shrink($value) {
  flex-shrink: ($value);
  flex-shrink: ($value);
  flex-shrink: ($value);
  flex-shrink: ($value);
  flex-shrink: ($value);
}
@mixin flex-basis($value) {
  flex-basis: ($value);
  flex-basis: ($value);
  flex-basis: ($value);
  flex-basis: ($value);
  flex-basis: ($value);
}
@mixin flex-flow($value) {
  flex-flow: ($value);
  flex-flow: ($value);
  flex-flow: ($value);
  flex-flow: ($value);
  flex-flow: ($value);
}
@mixin border-radius($value) {
  border-radius: ($value);
  border-radius: ($value);
  border-radius: ($value);
  border-radius: ($value);
  border-radius: ($value);
}
@mixin transition($value) {
  transition: ($value);
  transition: ($value);
  transition: ($value);
  transition: ($value);
  transition: ($value);
}
@mixin transform($value) {
  transform: ($value);
  transform: ($value);
  transform: ($value);
  transform: ($value);
  transform: ($value);
}
@mixin box-shadow($value) {
  box-shadow: ($value);
  box-shadow: ($value);
  box-shadow: ($value);
  box-shadow: ($value);
  box-shadow: ($value);
}
@mixin hover-underline {
  position: relative;
  &::before {
    @include absolute-common;
    width: 100%;
    height: 1px;
    background: currentColor;
    top: 100%;
    left: 0;
    pointer-events: none;
    transform-origin: 100% 50%;
    transform: scale3d(0, 1, 1);
    transition: transform 0.3s;
  }
  &:hover {
    &::before {
      transform-origin: 0% 50%;
      transform: scale3d(1, 1, 1);
    }
  }
}
@mixin double-underline {
  position: relative;
  &::before,
  &::after {
    @include absolute-common;
    width: 100%;
    height: 1px;
    background: currentColor;
    top: 100%;
    left: 0;
    pointer-events: none;
  }
  &::before {
    transform-origin: 100% 50%;
    transform: scale3d(0, 1, 1);
    transition: transform 0.3s cubic-bezier(0.7, 0, 0.2, 1);
  }
  &::after {
    top: calc(100% + 4px);
    transform-origin: 0% 50%;
    transform: scale3d(0, 1, 1);
    transition: transform 0.3s cubic-bezier(0.7, 0, 0.2, 1);
  }
  &:hover {
    &::before {
      transform-origin: 0% 50%;
      transform: scale3d(1, 0.8, 0.8);
      transition-timing-function: cubic-bezier(0.4, 1, 0.8, 1);
    }
    &::after {
      transform-origin: 100% 50%;
      transform: scale3d(1, 0.8, 0.8);
      transition-timing-function: cubic-bezier(0.4, 1, 0.8, 1);
    }
  }
}

@mixin center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

@mixin h-center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

@mixin v-center {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

@mixin absolute-common {
  position: absolute;
  content: '';
}
@mixin before-common {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
}
@mixin before-common-bt {
  position: absolute;
  content: '';
  bottom: 0;
  left: 0;
}
@mixin after-common {
  position: absolute;
  content: '';
  top: 0;
  right: 0;
}
@mixin after-common-bt {
  position: absolute;
  content: '';
  bottom: 0;
  right: 0;
}
